<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Page</title>
    <style>
        .h2-text {
            color: red
        }

    </style>
</head>
<body>
    <h1>H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 text</h6>
    <p>Native mobile emulation of Google Chrome for Android and <span style="color: green"> Mobile Safari</span>. The same rendering engine works on your Desktop and in the Cloud.</p>
    <hr>
    <p><a href="https://playwright.dev/python/">Python</a>></p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <table>
        <tr>
            <th>T2245</th>
            <th>Email</th>
            <th>Password</th>
            <th>T2245</th>
        </tr>
        <tr>
            <td>Item 1 Item 2 Item 3</td>
        </tr>
        <tr>
            <td>Row 1 Row 2 Row 3</td>
        </tr>
        <tr>
            <td>Row 1 Row 2 Row 3</td>
        </tr>
    </table>
</body>
</html>